<h1>Handlebars!</h1>
{{#if approved}}
    <p>Parabéns, o seu cadastro foi aprovado!</p>
{{else}}
    <p>Sorry! Precisa de aprovação</p>
{{/if}}
{{#if auth}}
    <p>O nomde do usuario é {{user.name}} {{user.surname}}</p>
    <p>Você está autenticado!</p>
    <a href="/dashboard"> Vá ao dashboard</a>
{{/if}}