<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add usuario</title>
</head>
<body>
    <h1>Adicionar usuário</h1>
    <form method="POST" action="/users/save"> 
        <div>
            <input type="text" name="nome" placeholder="Digite o nome">
        </div>
        <div>
            <input type="text" name="idade" placeholder="Digite a idade">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
        
    </form>
</body>
</html>